---
layout: base.njk
title: Lista de Pacientes
permalink: "/pacientes/index.html"
---

<h1>Lista de Pacientes</h1>

<ul class="list-group">
  {% if pacientes and pacientes.list %}
    {% for paciente in pacientes.list %}
      <li class="list-group-item">
        <strong>{{ paciente.fullName }}</strong>
        ({{ paciente.gender }}, {{ paciente.age }} años)  
        - Área: {{ paciente.area.name }}  
        - Sede: {{ paciente.branch.name }}
      </li>
    {% endfor %}
  {% else %}
    <li class="list-group-item">No hay pacientes disponibles.</li>
  {% endif %}
</ul>
