.logo-font {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.btn-donar {
    background-color: #8CEAFB;
    border-color: #8CEAFB;
    color: #0c2d35;
}

.btn-donar:hover {
    background-color: #69d3e6;
    border-color: #69d3e6;
    color: #0c2d35;
}


/* --- Botón APADRINAR (Sólido) --- */
.btn-apadrinar {
    background-color: #FFCC00; /* Tu color de fondo amarillo */
    border-color: #FFCC00;     /* Borde del mismo color */
    color: #332900;            /* Texto oscuro para buen contraste */
}

/* Efecto al pasar el mouse sobre el botón Apadrinar */
.btn-apadrinar:hover {
    background-color: #e6b800; /* Un tono de amarillo más oscuro */
    border-color: #e6b800;
    color: #332900;
}