---
layout: base.njk
title: Sucursales
permalink: /sucursales/index.html
---

<h1>Sucursales</h1>
<ul>
  {% for sucursal in sucursales %}
    <li>{{ sucursal.nombre }} - {{ sucursal.direccion }}</li>
  {% endfor %}
</ul>
